<!doctype html>
<html lang="sk">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="assets/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/material.min.css">
    <script src="assets/material.min.js"></script>

    <title>{{.Title}}</title>
    <script src="assets/script.js"></script>
</head>

<body onload={{ .ONLoad }}>
    <style>
        .navigation {
            background: url('assets/background.jpg') center / cover;
        }

        .navigation .mdl-layout__header,
        .navigation .mdl-layout__drawer-button {
            color: white;
        }
    </style>

    <div class="navigation mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">more_vert</i></button>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
                    <li id="import_item" class="mdl-menu__item" onclick="importfile.click()">Import z XLSX</li>
                    <li id="exit_item" class="mdl-menu__item" onclick="window.location='/exit';window.close();">Skončiť</li>
                </ul>
                <div class="mdl-tooltip" data-mdl-for="import_item">Naimportuje nové kontakty z XLSX súboru, ktorý má dva stĺpce (meno, tel.č.)</div>
                <div class="mdl-tooltip" data-mdl-for="exit_item">Ukončí webovú aplikáciu</div>
                <!-- Title -->
                <span class="mdl-layout-title">{{ .Title }}</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>

                <i class="material-icons">search</i>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="search" autofocus oninput="refresh(this.value)">
                    <label style="color:white" class="mdl-textfield__label" for="search">Hľadať ...</label>
                </div>
            </div>
        </header>
        <main id="main" class="mdl-layout__content">
