{{ template "header.html" . }}
<!-- Two Line List with secondary info and action -->
<style>
    .content {
        margin-left: 20%;
        width: 60%;
    }

    #card {
        width: 100%;
        max-height: 0;
        transition: max-height 0.5s ease-out;
        overflow: hidden;
    }

    .mdl-list__item {
        background-color: white;
    }

    .mdl-list__item:hover {
        cursor: pointer;
        background-color: rgba(204, 204, 204, 0.8);
    }
</style>
<div class="content">
    <form id="importfileform" enctype="multipart/form-data" action="/import" method="POST">
        <input id="importfile" name="importfile" type="file" style="display:none" onchange="uploadfile()" />
    </form>
    <div id="card">
        <div id="personnew" style="width:100%" class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 id="formtitle" class="mdl-card__title-text">Nová osoba</h2>
            </div>

            <form id="formnewperson" action="/person">
                <input id="personid" name="id" type="hidden">
                <div style="align-items:center" class="mdl-card__supporting-text">
                    <i class="material-icons">person</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="name" id="namenew">
                        <label class="mdl-textfield__label" for="namenew">Meno:</label>
                    </div>
                    <i class="material-icons">phone</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="phone" id="phonenew">
                        <label class="mdl-textfield__label" for="phonenew">Telefónne číslo:</label>
                    </div>
                </div>
            </form>

            <div class="mdl-card__actions mdl-card--border">
                <button style="color:white" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo" onclick="savePerson()">Uložiť</button>
                <button id="deletebutton" style="color:white;display:none;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo" onclick="deletePerson()">Zmazať</button>
                <button style="color:white" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo" onclick="hideNew()">Zrušiť</button>
            </div>
        </div>
    </div>
    <ul id="phone_list" style="width:100%" class="tel-list-two mdl-list">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
    </ul>
</div>

<button style="position:fixed;bottom:10%;right:10%;" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--indigo" onclick="showNew()">
  <i class="material-icons">add</i>
</button> {{ template "footer.html" .}}
