{{ range . }}
<li class="mdl-list__item mdl-list__item--two-line mdl-shadow--4dp" onclick="openPerson({{.id}},{{.name}},{{.phone}})">
    <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <span>{{ .name }}</span>
    <span class="mdl-list__item-sub-title"> {{ .phone }} </span>
    </span>
</li>
{{ end }}
